<h2>Show Task</h2>

<h4><%= @task.name %></h4>

<p><%= link_to "Edit task", edit_task_path %></p>

<p><%= link_to "Delete", task_path(@task),
      method: :delete,
      data: { confirm: "Are you sure?" } %></p>


<p><%= link_to "Back to tasks", tasks_path %></p>

